@media (max-width: 768px) {
    body {
        background-color: #e6edff;
        background-image: url('../images/pattern-background-mobile.svg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: fixed;
    }
    
    .container {
        max-width: 355px;
        height: 580px;
    }

    .hero {
        width: 355px;
    }

    .txt-principal > p {
        padding: 0 20px;
    }

    .btn-payment {
        font-size: 1em;
    }

    .payment > p {
        font-size: 0.9em;
    }
}